#main {
  margin-top: 1em;
}

#title {
  margin: 1em 0 1em 0;
}
h1, h2, h3, h4, p {
  text-align: center;
}

#number-input {
  text-align: center;
}

#button-submit {
  margin: 1em 0 1em 0;
}

.hide1 {
  display: none;
}

.hidden-start {
  display: none;
}
